
.carrusel {
  
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.carrusel::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/recien-casados-en-su-primer-baile.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6; /* ← controla la transparencia */
  z-index: 0;
}

.carrusel h1 {
  position: relative;
  z-index: 1;
  text-shadow:
    2px 2px 4px black,
    -2px -2px 4px black,
    2px -2px 4px black,
    -2px 2px 4px black;
}

nav.navbar {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.navbar-center span {
  color: black;
}


